extends layout

block body
    div(ng-controller='MainCtrl')
        header
            a.logo(href="#/")
            a.back(href="#/" ng-show="page=='search'")
            .filter(ng-show="page=='search'")
                | Showing prices and ratings for a
                select(ng-model='selection' ng-options='operation.slug as operation.name for operation in operations')
                    option(value='') ...
                | in the Bay Area.


            div(ng-include src="/templates/filter.html")
        .main-container
            .map
            #map_canvas.map-canvas(ui-map="map"
                         ui-options="mapOptions"
                         ui-event="{'map-idle' : 'onMapIdle()', 'map-tilesloaded' : 'onMapReady()'}")
            div(ng-repeat="marker in markers" ui-map-marker="markers[$index]"
                         ui-event="{'map-click': 'markerClicked(marker)'}")
            div.view-container(ng-view)

    script(src='https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAFjMEh3HIfkPo1wjVRL5MfWTTE2JFCQYc&sensor=false')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-route.js')
    script(src='js/lib/underscore-min.js')
    script(src='js/lib/event.js')
    script(src='js/lib/ui-map.min.js')
    script(src='js/lib/restangular.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
