* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*:not(input):not(textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;  Disable selection/Copy of UIWebView
    user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #666;
    font-size: 16px;
    background: white;
}

header {
    height: 70px;
    position: relative;
    z-index: 10000;
    background: rgba(255,255,255, 0.9);

}

.logo {
    display: inline-block;
    background: transparent url('../images/logo.png') no-repeat;
    background-size: 186px 70px;
    width: 186px;
    height: 69px;
}

a {
    color: #55b8a9;
}

.main-container {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;

}

select {
    border: 1px solid #55b8a9;
    outline: 0;
    color: #666;
    padding: 8px 10px;
    background: transparent;
    -webkit-appearance: none;
    line-height: 120%;
    font-size: 16px;

    width: 320px;
    margin: 0px 10px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.button-container {
    padding-top: 36px;
    text-align: center;
}

.go-button {
    /*color: #55b8a9;*/
    border: 1px solid #55b8a9;
    background: #55b8a9;
    /*rgba(255, 255, 255, 0.95);*/
    /*color: #55b8a9;*/

    /*background: white;*/
    width: 200px;
    padding: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    /*background: #fbfbfb;*/
    display: inline-block;
    color: white;
}

.go-button:hover {
    background: #409a8d;
    /*background: rgba(255, 255, 255, 1);*/
    /*background: white;*/
    border: 1px solid #55b8a9;
}


.go-button:active {
    background: #55b8a9;
}

.filter {
    /*color: #999;*/
    font-size: 13px;
    float: right;
    margin-top: 17px;
    margin-right: 17px;
}

.filter .go-button {
    width: auto;
    margin-left: 10px;
}

.filter select {
    font-size: 13px;
}


.jumbotron {
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.about {
    max-width: 500px;
    margin:0 auto;
    padding: 20px;
    color: #666;
}

.about h1 {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.about p {
    margin-bottom: 10px;
    line-height: 22px;
}

.map {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100%;
    width: 100%;
}

.map-canvas {
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100%;
    width: 100%;
}

.home-container {
    position: absolute;
    top: 70px; right: 0; bottom: 0; left: 0;
    background: rgba(255,255,255, 0.9);
    overflow-y: auto;
}

.results {
    position: absolute;
    top: 100px;
    bottom: 30px;
    left: 30px;
    width: 300px;
    background: rgba(255,255,255, 0.9);
    overflow-y: hidden;


    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.results-list {
    position: absolute;
    top: 40px;
    bottom: 0px;
    overflow-y: auto;
    width: 100%;
}

.results-filters {

    line-height: 30px;
    color: #999;
    padding: 4px 0;
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.1);
}

.results-filters a {
    display: inline-block;
    width: 50px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 5px;
}

.results-filters .selected {
    border: 1px dashed #55b8a9;
}

.result {
    position: relative;
    padding: 20px;
    border-top: 1px solid rgba(100, 100, 100, 0.1);
    cursor: pointer;
}

.result:first-child {
    border-top: none;
}

.result:last-child {
    border-bottom: 1px solid rgba(100, 100, 100, 0.1);
}

.selected.result {
    border-top: 1px solid rgba(100, 100, 100, 0.3);
    background: rgba(160, 160, 160, 0.1);
}

.result-name {
    margin-bottom: 1px;
    font-size: 14px;

    padding-right: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.result-address {
    color: #888;
    font-size: 12px;
    /*margin-bottom: 5px;*/
    padding-right: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.result-price {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #55b8a9;
}

.result-stars {
    position: absolute;
    bottom: 20px;
    right: 20px;

    background: transparent;
    background: transparent url('../images/stars_map.png') no-repeat;
    background-size: 42px 167px;
    background-position: 0px 1px;
    height: 10px;
    width: 42px;
}

.result-stars.stars1 {
    background-position: 0 -8px;

}
.result-stars.stars2 {
    background-position: 0 -28px;

}
.result-stars.stars3 {
    background-position: 0 -48px;
}
.result-stars.stars4 {
    background-position: 0 -68px;
}
.result-stars.stars5 {
    background-position: 0 -86px;
}

@media (max-width: 820px) {
    header {
        height: 44px;
    }

    .logo {
        display: block;
        background: transparent url('../images/logo.png') no-repeat;
        background-size: 117px 44px;
        width: 117px;
        height: 43px;
    }

    .home-container {
        top: 44px;
    }

    .results-filters {
        /*border-top: 1px solid rgba(100, 100, 100, 0.1);*/
        border-top: 1px solid #dddddd;
    }

    .back {
        display: inline-block;
        background: transparent url('../images/back.png') no-repeat;
        background-size: 44px 44px;
        width: 44px;
        height: 43px;
    }

    .back:active {
        opacity: 0.5;
    }

    .logo {
        position: absolute;
        left: 50%;
        margin-left: -64px;
    }

    .filter {
        display: none;
    }

    .jumbotron select {
        display: block;
        margin: 15px auto;
    }

    .jumbotron {
        height: 100%;
    }

    .results {
        width: 100%;
        top: 60%;
        bottom: 0px;
        left: 0px;
        overflow-y: auto;

        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }
}