<div class="home-container">
    <div class="jumbotron">
        Compare prices and ratings for a
        <select ng-model="selection">
            <option value="">...</option>
            <option ng-repeat="operation in operations" value="{{operation.slug}}">{{operation.name}}</option>
        </select>
        in the Bay Area.
        <div class="button-container">
            <a ng-click="search()" class="go-button" href="">Go!</a>
        </div>
    </div>
    <div class="about-container">
        <div class="about">
            <h1>What is SOSialism?</h1>
            <p><i>"Whatever you do with health care, someone is going to call it socialism."</i></p>
            <p>The SOSialism web app helps you compare different operations at different hospitals based on price and quality. Super handy if you need a brain surgery and are on a tight budget!</p>
            <p>SOSialism was born at the AngelHack Hospital. The birth lasted one day and was assisted by and data surgeon <a target="_blank" href="http://www.linkedin.com/in/hotloo/">Tele Hao</a> and web doctor <a target="_blank" href="http://andersrex.com">Anders Rex</a>. Powered by <a target="_blank" href="http://cms.gov">CMS.gov</a> and <a target="_blank" href="http://yelp.com">Yelp</a>.</p>
            <p>Chapeau!</p>
        </div>
    </div>
</div>