    <!--<div class="map">-->
        <!--<div id="map_canvas" class="map-canvas" ui-map="map"-->
             <!--ui-options="mapOptions"-->
             <!--ui-event="{'map-idle' : 'onMapIdle()', 'map-tilesloaded' : 'onMapReady()'}">-->
        <!--</div>-->
        <!--<div ng-repeat="marker in markers" ui-map-marker="markers[$index]"-->
             <!--ui-event="{'map-click': 'markerClicked(marker)'}">-->
        <!--</div>-->
    <!--</div>-->
<div class="results">
    <div class="results-filters">Sort by
        <a ng-click="search()" href="" ng-class="{selected: !orderByRatings}">price</a>
        /
        <a ng-click="searchRatings()" ng-class="{selected: orderByRatings}" href="">ratings</a>
    </div>
    <div class="result" ng-repeat="result in results" ng-class="{selected: result == selectedResult}" ng-click="selectResult(result, $index)">
        <div class="result-name">{{ result.name }}</div>
        <div class="result-address">
            {{ result.street }}, {{ result.city }}
        </div>
        <div class="result-price">${{ result.price }}</div>
        <div class="result-stars stars{{ result.rating }}"></div>

    </div>
</div>
